

.theme-title{
  font-size: 0.4rem;
  text-align: left;
  padding: 3px;
  border-bottom: 1px solid #eee;
  color: #ccc;
}

.theme-bgblue{
  background-color: var(--blue-top);
  color: #fff;
}


.theme-lists li{
  padding: 0.75rem;
  cursor: pointer;
}


.theme-lists li:hover{
  opacity: 0.7;
}


/* 搜索-背景颜色-边框颜色 */
/* .blue .form-global-search{
  background-color: var(--blue-top);
  border-color: var(--my40);
  color: var(--blue-ziti);
}
.blue .form-global-search:active,.blue  .form-global-search:focus,.blue  .form-search:active,.blue  .form-search:focus{
  background-color: var(--blue-top);
  /* -webkit-box-shadow: 0 0 0 3px var(--white-80); */
  /* box-shadow: 0 0 0 3px var(--white-80); */
  /* box-shadow: none; */
/* }  */



.blue .hamburger-menu:before {  //汉堡按钮
  background: linear-gradient(
          to bottom,
          white, white 20%,
          transparent 20%, transparent 40%,
          white 40%, white 60%,
          transparent 60%, transparent 80%,
          white 80%, white 100%
  );
}

// 侧边-背景
.blue .bg-grad-sidebar{
    background-image: none;
    background-color: var(--blue-cebian);
    /* background: #272b41; */
  }
  // top-背景
  .blue .content .bg-white {    
    background-color: var(--blue-top);
  }
  // .blue .mybg-grad-sidebar{
  //   background-color: var(--blue-top);
  // }
  // logo-背景
  .blue .bg-logo {
    background-color: var(--blue-top);
  }
  .blue .bg-logo svg {
    margin: 0 auto;
  }


  // 网站标题-颜色
  .blue .content .bg-white > a {    
    color: var(--blue-ziti);
  } 
  
  // /* 网站标题-颜色 */
  // .blue .mytext-white a {
  //   color: var(--blue-ziti);
  // }
  

  // 顶部搜索-颜色
  .blue .content .bg-white input {        
    background-color: var(--blue-top);
    border-color: var(--my40);
    color: var(--blue-ziti);
  }
  .blue .content .bg-white input:active, .blue .content .bg-white input:focus{
    background-color: var(--blue-top);
    /* -webkit-box-shadow: 0 0 0 3px var(--white-80); */
    /* box-shadow: 0 0 0 3px var(--white-80); */
    box-shadow: none;
  }
  /* 搜索图标 */
  .blue .content .bg-white path{
    color: var(--white);
  }
  // /* 顶部搜索-颜色 */
  // .blue .mytext-white input {
    
  //   background-color: var(--blue-top);
  //   border-color: var(--my40);
  //   color: var(--blue-ziti);
  // }
  // .blue .mytext-white input:active,.blue  .mytext-white input:focus{
  //   background-color: var(--blue-top);
  //   /* -webkit-box-shadow: 0 0 0 3px var(--white-80); */
  //   /* box-shadow: 0 0 0 3px var(--white-80); */
  //   box-shadow: none;
  // }
  // /* 搜索图标 */
  // .blue .mytext-white path{
  //   color: var(--white);
  // }
  
  
  .sidebar-icon path{
    fill: var(--sidebar-icon);
  }
  
  
  
  
  /* 图标-颜色 */
  .ceshi path{
    fill: var(--90);
  }
  
  .blue .ceshi path{
      fill: var(--blue-ziti);
  }
  
  /* 右上文字-颜色 */
  .blue .mytext-90 {
    color: var(--blue-ziti);
  }
  
  
  /* 链接字体 颜色 */
  .blue .text-primary {
    /* color: var(--myprimary); */
    color: var(--blue-top);
  }
  
  
  /* 按钮 颜色-滑过-点击 */
  .blue .btn-primary {
    background-color: var(--blue-top);
    color: var(--white);
  }
  
  
  /* 侧面宽 */
  /* .blue .w-sidebar{
    position: none;
    width: 14.75rem;
  } */
  
  /* 内容左边距 */
  /* .blue .content{
    margin-left: 0;
  } */
  
  :root {
    --blue-top: #58b1fc;
    --blue-cebian: #248dc1;
    --blue-ziti: #fff;
  
  
  
    --myprimary-darkest: rgb(1, 8, 29);
    --primary-light: rgb(0, 157, 255);
    --primary-lightest: #c1c1c1;
    --primary-70: rgba(0, 157, 255, 0.4);
    --primary-60: rgba(0, 157, 255, 0.6);
    --primary-50: rgba(0, 157, 255, 0.5);
    --primary-40: rgba(0, 157, 255, 0.4);
    --primary-30: rgba(0, 157, 255, 0.3);
    --primary-20: rgba(0, 157, 255, 0.2);
    --primary-10: rgba(0, 157, 255, 0.1);
    --white-90: rgba(255, 255, 255, 0.9);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-70: rgba(255, 255, 255, 0.4);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-50: rgba(255, 255, 255, 0.5);
    --radius-normal: .1850rem;
    --table-row-padding: .65rem;
    --perfect-scroll-pad-bottom: 30px;
    --perfect-scroll-thumb-colour: rgb(0, 177, 255);
    --perfect-scroll-bar-width: 2px;
  
    --transparent: transparent;
    --black: #22292f;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --myprimary: #6064F0;
    --primary: #4099de;
    --primary-dark: #297ec0;
    --primary-70: rgba(96, 100, 240, 0.7);
    --primary-50: rgba(64,153,222,.5);
    --myprimary-50: rgba(96, 100, 240, 0.5);
    --primary-30: rgba(96, 100, 240, 0.3);
    --primary-10: rgba(96, 100, 240, 0.1);
    --logo: #252d37;
    --sidebar-icon: #fff;
    /* --sidebar-icon: #8C92AE; */
    --myziti: #adb4d2;
  }
  
  
  