

.theme-title{
  font-size: 0.4rem;
  text-align: left;
  padding: 3px;
  border-bottom: 1px solid #eee;
  color: #ccc;
}

.theme-bgblue{
  background-color: var(--blue-top);
  color: #fff;
}


.theme-lists li{
  padding: 0.75rem;
  cursor: pointer;
}


.theme-lists li:hover{
  opacity: 0.7;
}

//  弹出框
// .modal {
//   top: 30%;
// }
.modal div:first-child {
  top: 30%;
}
.modal form{
  background-color: var(--white) !important;
}
@media (max-width: 992px) {
  .modal {
    top: 0;
  }
  .modal div:first-child {
    top: 40%;
  }
}


/* 搜索-背景颜色-边框颜色 */
/* .blue .form-global-search{
  background-color: var(--blue-top);
  border-color: var(--my40);
  color: var(--blue-ziti);
}
.blue .form-global-search:active,.blue  .form-global-search:focus,.blue  .form-search:active,.blue  .form-search:focus{
  background-color: var(--blue-top);
  /* -webkit-box-shadow: 0 0 0 3px var(--white-80); */
  /* box-shadow: 0 0 0 3px var(--white-80); */
  /* box-shadow: none; */
/* }  */


  // .ceshi path{
  //   fill: var(--90);
  // }
  .sidebar-icon path{
    fill: var(--sidebar-icon);
  }
.blue{  //  主题
  .hamburger-menu:before {  //汉堡按钮
    background: linear-gradient(
            to bottom,
            white, white 20%,
            transparent 20%, transparent 40%,
            white 40%, white 60%,
            transparent 60%, transparent 80%,
            white 80%, white 100%
    );
  }
  //  侧面宽
  // .w-sidebar{
  //   position: none;
  //   width: 14.75rem;
  // } 
  
  // 内容左边距
  // .content{
  //   margin-left: 0;
  // }
  // 侧边-背景
  .bg-grad-sidebar{
    background-image: none;
    background-color: var(--blue-cebian);
  }  
  // top-背景
  .content .bg-white {    
    background-color: var(--blue-top);
  }
  // logo-背景
  .bg-logo {
    background-color: var(--blue-top);
  }
  .bg-logo svg {
    margin: 0 auto;
  }
   // 网站标题-颜色
   .content .bg-white > a {    
    color: var(--blue-ziti);
  } 
  // 顶部搜索-颜色
  .content .bg-white input {        
    background-color: var(--blue-top);
    border-color: var(--my40);
    color: var(--blue-ziti);
  }
  .content .bg-white input:active, .content .bg-white input:focus{
    background-color: var(--blue-top);
    /* -webkit-box-shadow: 0 0 0 3px var(--white-80); */
    /* box-shadow: 0 0 0 3px var(--white-80); */
    box-shadow: none;
  }
  /* 搜索图标 */
  .content .bg-white path{
    color: var(--white);
  }
  /* 图标-颜色 */
  .ceshi path{
      fill: var(--blue-ziti);
  }
  /* 右上文字-颜色 */
  .mytext-90 {
    color: var(--blue-ziti);
  }
  /* 链接字体 颜色 */
  .text-primary {
    /* color: var(--myprimary); */
    color: var(--blue-top);
  }
  /* 按钮 颜色-滑过-点击 */
  .btn-primary {
    background-color: var(--blue-top);
    color: var(--white);
  }
}
:root {
  --blue-top: #58b1fc;
  --blue-cebian: #248dc1;
  --blue-ziti: #fff;

  --sidebar-icon: #fff;
}



// 侧边-背景
// .blue .bg-grad-sidebar{
//     background-image: none;
//     background-color: var(--blue-cebian);
//     /* background: #272b41; */
//   }
//   // top-背景
//   .blue .content .bg-white {    
//     background-color: var(--blue-top);
//   }
//   // .blue .mybg-grad-sidebar{
//   //   background-color: var(--blue-top);
//   // }
//   // logo-背景
//   .blue .bg-logo {
//     background-color: var(--blue-top);
//   }
//   .blue .bg-logo svg {
//     margin: 0 auto;
//   }


//   // 网站标题-颜色
//   .blue .content .bg-white > a {    
//     color: var(--blue-ziti);
//   } 
  
//   // /* 网站标题-颜色 */
//   // .blue .mytext-white a {
//   //   color: var(--blue-ziti);
//   // }


//   // 顶部搜索-颜色
//   .blue .content .bg-white input {        
//     background-color: var(--blue-top);
//     border-color: var(--my40);
//     color: var(--blue-ziti);
//   }
//   .blue .content .bg-white input:active, .blue .content .bg-white input:focus{
//     background-color: var(--blue-top);
//     /* -webkit-box-shadow: 0 0 0 3px var(--white-80); */
//     /* box-shadow: 0 0 0 3px var(--white-80); */
//     box-shadow: none;
//   }
//   /* 搜索图标 */
//   .blue .content .bg-white path{
//     color: var(--white);
//   }
//   // /* 顶部搜索-颜色 */
//   // .blue .mytext-white input {
    
//   //   background-color: var(--blue-top);
//   //   border-color: var(--my40);
//   //   color: var(--blue-ziti);
//   // }
//   // .blue .mytext-white input:active,.blue  .mytext-white input:focus{
//   //   background-color: var(--blue-top);
//   //   /* -webkit-box-shadow: 0 0 0 3px var(--white-80); */
//   //   /* box-shadow: 0 0 0 3px var(--white-80); */
//   //   box-shadow: none;
//   // }
//   // /* 搜索图标 */
//   // .blue .mytext-white path{
//   //   color: var(--white);
//   // }
  
  
//   .sidebar-icon path{
//     fill: var(--sidebar-icon);
//   }
  
//   /* 图标-颜色 */
//   .ceshi path{
//     fill: var(--90);
//   }
  
//   .blue .ceshi path{
//       fill: var(--blue-ziti);
//   }
  
//   /* 右上文字-颜色 */
//   .blue .mytext-90 {
//     color: var(--blue-ziti);
//   }
  
  
//   /* 链接字体 颜色 */
//   .blue .text-primary {
//     /* color: var(--myprimary); */
//     color: var(--blue-top);
//   }
  
  
//   /* 按钮 颜色-滑过-点击 */
//   .blue .btn-primary {
//     background-color: var(--blue-top);
//     color: var(--white);
//   }
  
  
  /* 侧面宽 */
  /* .blue .w-sidebar{
    position: none;
    width: 14.75rem;
  } */
  
  /* 内容左边距 */
  /* .blue .content{
    margin-left: 0;
  } */
  
  // :root {
  //   --blue-top: #58b1fc;
  //   --blue-cebian: #248dc1;
  //   --blue-ziti: #fff;
  
  //   --sidebar-icon: #fff;
  // }
